@mixin container-width {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;

  @media (min-width: $bp-desktop ) {
    max-width: $bp-desktop;
  }
}

@mixin clear {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
